.checkedText{
  text-decoration-color: brown;
  text-decoration:line-through;
}
.top{
  width: 23%;
  align-items: center;
  margin: auto;
  margin-top: 1.5rem;
}
.addTodos{
  width: 235px;
  padding: 0.5rem;
  background-color: #fff;
}
.addTodos::placeholder{
  color: #000;
}
.dateAndTime{
  margin-left: 177px;
  margin-top: 2px;

}

.todo{
  width: 33%;
    display: flex;
    margin: auto;
    margin-top: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
    background: rgb(85, 41, 220);

}
.chkBox{
  width: 27px;
}
.text{
  font-size: 1.2rem;
  margin-left: 10px;
}